<p-card>
  <div class="container">
    <p-fieldset>
      <p-header style="text-align: center;">Calculadora de Tiros de Esquinas</p-header>
      <div class="grid p-fluid" style="margin-top: 15px;">
        <div class="col-6">
          <div class="grid p-fluid">
            <div class="p-col-12 p-md-3 col-offset-4" style="margin-top: 0px; padding-top: 0px;">
              <span class="p-tag p-tag-success" style="font-size: 15px;">Equipo Local</span>
            </div>
            <div class="p-col-12 p-md-3 col-offset-1">
              <label for="pcpl">Promedio Corners por partido</label>
              <p-inputNumber inputId="pcpl" [(ngModel)]="DI.pcpl" [minFractionDigits]="2" [maxFractionDigits]="2">
              </p-inputNumber>
            </div>
            <div class="p-col-12 p-md-3 col-offset-1">
              <label for="pcfl">Promedio Corners a Favor</label>
              <p-inputNumber inputId="pcfl" [(ngModel)]="DI.pcfl" [minFractionDigits]="2" [maxFractionDigits]="2">
              </p-inputNumber>
            </div>
            <div class="p-col-12 p-md-3 col-offset-1">
              <label for="pcel">Promedio Corners en Contra</label>
              <p-inputNumber inputId="pcel" [(ngModel)]="DI.pcel" [minFractionDigits]="2" [maxFractionDigits]="2">
              </p-inputNumber>
            </div>
          </div>
        </div>
        <div class="col-6 ">
          <div class="grid p-fluid">
            <div class="p-col-12 p-md-3 col-offset-4" style="margin-top: 0px; padding-top: 0px;">
              <span class="p-tag p-tag-success" style="font-size: 15px;">Equipo Visitante</span>
            </div>
            <div class="p-col-12 p-md-3 col-offset-1">
              <label for="pcpv">Promedio Corners por partido</label>
              <p-inputNumber inputId="pcpv" [(ngModel)]="DI.pcpv" [minFractionDigits]="2" [maxFractionDigits]="2">
              </p-inputNumber>
            </div>
            <div class="p-col-12 p-md-3 col-offset-1">
              <label for="pcfv">Promedio Corners a Favor</label>
              <p-inputNumber inputId="pcfv" [(ngModel)]="DI.pcfv" [minFractionDigits]="2" [maxFractionDigits]="2">
              </p-inputNumber>
            </div>
          </div>
          <div class="p-col-12 p-md-3 col-offset-1">
            <label for="pcev">Promedio Corners en Contra</label>
            <p-inputNumber inputId="pcev" [(ngModel)]="DI.pcev" [minFractionDigits]="2" [maxFractionDigits]="2">
            </p-inputNumber>
          </div>
        </div>
        <div class="col-3 col-offset-4" style="margin-bottom: 10px;">
          <button pButton pRipple type="button" label="Calcular" (click)="calcularCorners(DI)"
            class="p-button-rounded p-button-warning"></button>
          <br>
        </div>
      </div>
      <p-footer>
        <div class="col-12 col-offset-3" *ngIf="promedioCorners" style="font-size: 25px;">
          <span>Recomendación Línea: </span>
          <span class="p-tag p-tag-xl" style="font-size: 25px;"> {{promedioCorners}} Tiros de
            Esquinas</span>
        </div>
      </p-footer>
    </p-fieldset>
  </div>
</p-card>