  <!-- <div class="container-fluid">
    <div class="grid p-fluid">
      <div class="col-12">
        <p-fieldset>
          <p-header>Calculadora de Goles</p-header>
          
          <div class="grid p-fluid">
            <div class="p-field p-col-12 p-md-3 col-offset-1">
              <label for="integeronly">Promedio Corners por partido</label>
              <p-inputNumber inputId="integeronly" [(ngModel)]="value1" [minFractionDigits]="2" [maxFractionDigits]="2">
              </p-inputNumber>
            </div>
          </div>
        </p-fieldset>
      </div>
    </div>

  </div> -->

<div class="grid">
  <div class="col-6" style="background-color: black;">
      <div class="grid">
          <div class="col-12" style="background-color: gray;">
              12
          </div>
      </div>
  </div>
  <div class="col-6" style="background-color: red;">
      4
  </div>
</div>